.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 99%;
  background: linear-gradient(-45deg, rgb(230, 131, 131), rgb(241, 163, 155));
  z-index: 998;
  top: 0;
}
.logo {
  display: flex;
  color: black;
  /* background-color:  rgb(48, 46, 46); */
}
.logo-name {
  font-size: 40px;
  margin-left: 25px;
  font-family: cursive;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-links {
  margin: 0px 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  /* margin-right: 25px; */
}
.nav-links:hover {
  color: white;
}

/* .nav-links {
  color: rgb(0, 0, 0);
  align-items: center;
  text-decoration: none;
  height: 100%;
  font-size: 25px;
}

.nav-links:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-out;
}*/

/* .logo:hover .logo-icon {
  transform: rotate(45deg);
} */

.logo:hover .logo-icon {
  transform: rotate(45deg);
}
@media screen and (max-width: 700px) {
  .nav-item {
    display: flex;
    flex-direction: column;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    height: 500px;
    width: 700px;
  }
  /* .nav-links {
    display: flex;
    flex-direction: column;
  } */
}
