.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 99%;
  background: linear-gradient(-45deg, rgb(230, 131, 131), rgb(241, 163, 155));
  z-index: 998;
  top: 0;
}
.logo {
  display: flex;
  color: black;
}
.logo-name {
  font-size: 40px;
  margin-left: 25px;
  font-family: cursive;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-links {
  margin: 0px 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.nav-links:hover {
  color: white;
}
.logo:hover .logo-icon {
  transform: rotate(45deg);
}
